.text-found{
    background-color: rgb(255, 255, 0);
}

#find-container{
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    margin: 15px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
}

#find-container .container{
    padding: 15px;
} 

#find-container .btn-close{
    width:auto;
    position: absolute;
    right: 10px;
    top: 0px;
}

.input-field { 
    margin-bottom: 0px; 
    margin-top:10px;
    max-width: 250px;
}

.resultsCount{
    text-align: center;
    padding: 15px;
}
